.adding{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.adding-part{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.adding-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.adding-section label{
    font-weight: bold;
}

.adding-section input, .adding-section select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}   

.word-adding{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.word-adding-part{
    width: 300px;
    background-color: whitesmoke;
}