.adding{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 100vw;
    margin: auto 1vw;
}
.adding-parts{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.adding-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.adding-section{
    gap: 15px;
    margin-top: 15px;
}

.adding-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7d9f5;
}
.adding-section label{
    font-weight: bold;
}
.adding-section textarea{
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}
.adding-section h3{
    margin-bottom: 10px;
    text-align: center;
}

.adding-section input{
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}   

.adding-section select{
    display: block;
}

.add-word-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.word-adding{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.word-adding-part{
    width: 47%;
    background-color: #d3bce8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-button{
    display: block;
    align-self: center;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5d2e86;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.option-button:hover {
    background-color: #7d47a8;
    transform: translateY(-2px);
}   

.option-button:active {
  transform: translateY(0);
}

.existing{
    overflow-y: scroll;
    max-height: 250px;
    scrollbar-color: #5d2e86 #ffffff;
    width: 100%;
}


