.add-dictionary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.add-dictionary form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.add-dictionary input, .add-dictionary textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}
.add-dictionary button {
    padding: 10px;
    font-size: 16px;
    background-color: #5d2e86;
    color: white;
    border: none;
    cursor: pointer;
}
.add-dictionary button:hover {
    background-color: #5d2e86;
}
.old-dictionary {
    margin-top: 40px;
    width: 80%;
}
.old-dictionary h2 {
    text-align: center;
    margin-bottom: 20px;
}
.old-dictionary ul {
    list-style-type: none;
    padding: 0;
}
.old-dictionary li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
.old-dictionary li:hover {
    background-color: #f1f1f1;
}
