/*@import url(https://db.onlinewebfonts.com/c/b7c46534c8a2d55edd840bf49383777d?family=Ahkio-Regular);*/


header{
    position: fixed;
    top: 10px;
    left: 3%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 90vw;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    border-radius: 10px;
    flex-direction: row;
    padding: 0 20px;
    font-family: 'Ahkio-Regular', sans-serif;
    color: #D623A6;
}

.page-logo {
    height: 30vh;
    z-index: 1000;
}


.setting, .home {
    height: auto;
    z-index: 1000;
}
