header{
    position: fixed;
    top: 10px;
    left: 1%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 90vw;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    border-radius: 10px;
    flex-direction: row;
    padding: 0 20px;
}

.page-logo {
    height: 30vh;
    z-index: 1000;
}


.setting{
    height: auto;
    z-index: 1000;
}
