html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f5e6ff, #ffe7e1);

}

.learn-page{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 150px; 
    width: 100%;
    min-height: 100vh;
}

.learn-main-container{
    width: calc(100vw - 20px);
    flex: 1;
    height: calc(100vh - 150px);
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
}

.question-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
}

.selection-section{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

.option-card{
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    cursor: pointer;
    transition: all 0.2s ease;
}

.option-card:hover{
    
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    background: #fff;
}

.score-lable{
    font-size: 20px;
    font-weight: 10;
    margin: 12px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.progress-bar{
    width: 100%;
    height: 24px;
    background: #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.progress-fill{
    height: 100%;
    background: #4caf50;
    transition: width 0.3s ease;
}