.container.user-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    padding: 10px;
}
.user-setings-part {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5d2e86;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
 .delete, .change  {
    display: none;  
}

.delete form, .change form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}